---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import PostCard from "../components/PostCard.astro";
import { PageTransition } from "astro-page-transition";
// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./posts/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-bgwhite">
    <Header />
    <PageTransition speed={200} background="#f5f5f5" zIndex={99} />
    <main class="pt-20">
      <section class="container xl:max-w-[980px] mx-auto">
        <ul class="grid xl:grid-cols-2 list-none">
          {
            posts.map((post) => (
              <PostCard
                time={post.frontmatter.date}
                title={post.frontmatter.title}
                url={post.url}
              />
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
