---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import PostCard from "../components/PostCard.astro";
import { Spa } from "astro-spa";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./whispers/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="xl:px-20 pt-30">
        <ul class="grid xl:grid-cols-2">
          {
            posts.map((post) => (
              <PostCard
                time={post.frontmatter.date}
                title={post.frontmatter.title}
                url={post.url}
              />
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
    <Spa progressBar={false} />
  </body>
</html>
