---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/unreset.scss";
import { PageTransition } from "astro-page-transition";
import "../styles/global.scss";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <PageTransition speed={200} background="var(--bg-color)" zIndex={99} />

    <main class="pt-10">
      <article
        class="container xl:max-w-[980px] mx-auto xl:px-20 p-10 leading-9"
      >
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="text-[2em]">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr class="bt-1 border-white" />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
